@media only screen and (max-width: 769px) {
    td:nth-of-type(1):before {
        content: "Editar";
    }

    td:nth-of-type(2):before {
        content: "RA do Cachorro";
    }

    td:nth-of-type(3):before {
        content: "Nome do Animal";
    }

    td:nth-of-type(4):before {
        content: "Nome do proprietário";
    }

    td:nth-of-type(5):before {
        content: "Endereço";
    }

    td:nth-of-type(6):before {
        content: "Quadra";
    }

    td:nth-of-type(7):before {
        content: "Situação da coleta";
    }

    td:nth-of-type(8):before {
        content: "Data da coleta";
    }

    td:nth-of-type(9):before {
        content: "Teste - Data do exame";
    }

    td:nth-of-type(10):before {
        content: "Teste - resultado";
    }

    td:nth-of-type(11):before {
        content: "Adicionado em";
    }
    td:nth-of-type(12):before {
        content: "Laudo";
    }
}