header {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    display: flex;
    justify-content: center; /*so funciona com display flex*/
    align-items: center; /*so funciona com display flex*/
}

.menu {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0; /*so funciona com position fixed*/
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color: white;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 540px) {
    .menu ul {
        display: block;
        justify-content: space-around;
    }

    header {
        height: 200px;
    }
}