<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/soft_reset.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/common_style.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/adicionar.css") }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/adicionar.js') }}"></script>
</head>
<body>
<header>
    <nav class="menu">
        <ul class="container">
            <li><a href="{{ url_for("resumo_page") }}">INICIO</a></li>
            <li><a href="{{ url_for("add_register_page") }}">REGISTRAR</a></li>
            <li><a href="{{ url_for("gerar_relatorio_page") }}">RELATÓRIO</a></li>
            <li><a href="{{ url_for("busca_page") }}">BUSCA</a></li>
        </ul>
    </nav>
</header>
<section class="content">
    <div id="data-collect"></div>
    <p  id="error_message" class="error_message">{{ error_message }}</p>
    <p id="success_message" class="success_message">{{ success_message }}</p>
</section>
</body>
</html>