<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/adicionar_registro.css") }}">
</head>
<body>
<form method="POST">
    <div class="input-container">
        <label>RA Cachorro: </label>
        <input type="number" name="reg_ra" placeholder="12345">
    </div>
    <div class="input-container">
        <label>Nome animal: </label>
        <input type="text" name="reg_nome_animal" placeholder="Duke">
    </div>
    <div class="input-container">
        <label>Endereço / Nome proprietário: </label>
        <input type="text" name="reg_endereco_nome_dono" placeholder="Av São Joao 215 / Ronaldo">
    </div>
    <div class="input-container">
        <label>Quadra: </label>
        <input type="number" name="reg_quadra" placeholder="5" required >
    </div>
    <div class="input-container">
        <label>Situação da Coleta: </label>
        <select name="reg_situacao_coleta">
            <option value="COLETADO">COLETADO</option>
            <option value="RECUSA DE COLETA">RECUSA DE COLETA</option>
            <option value="IMÓVEL FECHADO">IMÓVEL FECHADO</option>
            <option value="ENTREGA ESPONTÂNEA DO CÃO">ENTREGA ESPONTÂNEA DO CÃO</option>
            <option value="FUGIU / MUDOU / DOADO">FUGIU / MUDOU / DOADO</option>
            <option value="MORTE SEM CAUSA CONHECIDA">MORTE SEM CAUSA CONHECIDA</option>
            <option value="MORTE POR CAUSA DIFERENTE DE LVA">MORTE POR CAUSA DIFERENTE DE LVA</option>
            <option value="MORTE POR LVA EM INQUÉRITO ANTERIOR">MORTE POR LVA EM INQUÉRITO ANTERIOR</option>
        </select>
    </div>
    <div class="input-container">
        <label>Data da coleta: </label>
        <input type="date" name="reg_data_coleta">
    </div>
    <div class="input-container">
        <label>Teste: data do exame: </label>
        <input type="date" name="reg_teste_data_exame">
    </div>
    <div class="input-container">
        <label>Teste: resultado: </label>
        <select name="reg_teste_resultado">
            <option value="NEGATIVO">NEGATIVO</option>
            <option value="POSITIVO">POSITIVO</option>
            <option value="NÃO REALIZADO / NÃO SE APLICA">NÃO REALIZADO / NÃO SE APLICA</option>
        </select>
    </div>
    <div class="input-container">
        <label>Exame: número amostra: </label>
        <input type="number" name="reg_exame_numero_amostra" placeholder="12345">
    </div>
    <div class="input-container">
        <label>Exame: data: </label>
        <input type="date" name="reg_exame_data">
    </div>
    <div class="input-container">
        <label>Exame: resultado: </label>
        <select name="reg_exame_resultado">
            <option value="NEGATIVO">NEGATIVO</option>
            <option value="POSITIVO">POSITIVO</option>
            <option value="NÃO REALIZADO">NÃO REALIZADO</option>
            <option value="INCONCLUSIVO">INCONCLUSIVO</option>
        </select>
    </div>
    <div class="input-container">
        <label>Sintomas: </label>
        <select name="reg_sintomas">
            <option value="ASSINTOMÁTICO">ASSINTOMÁTICO</option>
            <option value="ATÉ 3 SINTOMAS">ATÉ 3 SINTOMAS</option>
            <option value="+ DE 3 SINTOMAS">+ DE 3 SINTOMAS</option>
        </select>
    </div>
    <div class="input-container">
        <label>Eutanásia realizada: </label>
        <select name="reg_eutanasia_realizada">
            <option value="NÃO">NÃO</option>
            <option value="SIM">SIM</option>
            <option value="RECUSA DE EUTANÁSIA">RECUSA DE EUTANÁSIA</option>
            <option value="MORTE OUTRAS CAUSAS">MORTE OUTRAS CAUSAS</option>
            <option value="PERDAS">PERDAS</option>
            <option value="DEMANDA ESPONTÂNEA">DEMANDA ESPONTÂNEA</option>
            <option value="NOVA COLETA">NOVA COLETA</option>
            <option value="AÇÃO JUDICIAL">AÇÃO JUDICIAL</option>
        </select>
    </div>
    <div class="input-container">
        <label>Eutanásia data: </label>
        <input type="date" name="reg_eutanasia_data">
    </div>
    <div class="input-container">
        <input type="submit" value="Adicionar registro"/>
    </div>

    <p class="error_message">{{ error_message }}</p>
    <p class="success_message">{{ success_message }}</p>
</form>
</body>
</html>