<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar relatórios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/soft_reset.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/gen_relatorio.css") }}">
    <script src="{{ url_for('static', filename='js/gen_relatorio.js') }}"></script>
</head>
<body>
<header>
    <nav class="menu">
        <ul class="container">
            <li><a href="{{ url_for("resumo_page") }}">INICIO</a></li>
            <li><a href="{{ url_for("add_register_page") }}">ADICIONAR REGISTRO</a></li>
            <li><a href="{{ url_for("gerar_relatorio_page") }}">GERAR RELATÓRIO</a></li>
        </ul>
    </nav>
</header>
<form method="GET" id="form_registros_relatorio">
    Quadra <input id="filtro_quadra" class="change_update" type="number" min="0" step="1">
    Inicio dia<input class="change_update" id="filtro_data_add_inicio" type="date">
    Fim dia <input class="change_update" id="filtro_data_add_fim" type="date">
    Inicio coleta dia<input class="change_update" id="filtro_data_col_inicio" type="date">
    Fim coleta dia <input class="change_update" id="filtro_data_col_fim" type="date">
    <button type="button" class="click_update">Atualizar registros</button>
    <button type="button" id="gerar_relatorio">Gerar relatório</button>
    <table id="registros"></table>
</form>


</body>
</html>