<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar relatórios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/soft_reset.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/common_style.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/relatorio.css") }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/relatorio.js') }}"></script>
</head>
<body>
<header>
    <nav class="menu">
        <ul class="container">
            <li><a href="{{ url_for("page_resumo") }}">INICIO</a></li>
            <li><a href="{{ url_for("page_adicionar_registro") }}">REGISTRAR</a></li>
            <li><a href="{{ url_for("page_gerar_relatorio") }}">RELATÓRIO</a></li>
            <li><a href="{{ url_for("page_busca") }}">BUSCA</a></li>
            <li><a href="{{ url_for("page_planilha") }}">PLANILHA</a></li>
        </ul>
    </nav>
</header>
<section class="content">
    <form method="GET" id="form_registros_relatorio">
        <div class="input-container"><label>Quadra: </label> <input id="filtro_quadra" class="change_update" type="number" min="0" step="1"></div>
        <div class="input-container"><label>Inicio adicionado dia: </label> <input class="change_update" id="filtro_data_add_inicio" type="date"></div>
        <div class="input-container"><label>Fim adicionado dia: </label> <input class="change_update" id="filtro_data_add_fim" type="date"></div>
        <div class="input-container"><label>Inicio coleta dia: </label> <input class="change_update" id="filtro_data_col_inicio" type="date"></div>
        <div class="input-container"><label>Fim coleta dia: </label> <input class="change_update" id="filtro_data_col_fim" type="date"></div>
        <div class="input-container">
            <button type="button" class="click_update">Atualizar registros</button>
        </div>
        <div class="input-container">
            <button type="button" id="gerar_relatorio">Gerar relatório</button>
        </div>
        <div id="relatorios"><a href="{{ url_for('page_relatorios_antigos') }}">Relatorios anteriores</a>
            <h3>Relatórios gerados</h3></div>
        <table id="registros"></table>
    </form>
</section>
</body>
</html>