<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo Leishmaniose</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/soft_reset.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resumo.css') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/resumo.js') }}"></script>
</head>
<body>
<header>
    <nav class="menu">
        <ul class="container">
            <li><a href="{{ url_for("page_resumo") }}">INICIO</a></li>
            <li><a href="{{ url_for("page_adicionar_registro") }}">REGISTRAR</a></li>
            <li><a href="{{ url_for("page_gerar_relatorio") }}">RELATÓRIO</a></li>
            <li><a href="{{ url_for("page_busca") }}">BUSCA</a></li>
            <li><a href="{{ url_for("page_planilha") }}">PLANILHA</a></li>
        </ul>
    </nav>
</header>
<section class="content">
    <h2>Registros</h2>
    <table id="registros"></table>
</section>
</body>
</html>